<style>
@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Pacifico');
</style>


body {
    background-color: lightblue;
    font-family: "Raleway",sans-serif;
    padding: 5px 25px
    font-size: 18px;
    width: 700px;
    margin:auto;
    color: #444;
}

h1, h2 {
    font-family: "Pacifico", serif;
    clear: both;
}

img {
    margin:22px 10px 10px 0px;
    float:center;
}

ul.nav {
    list-style-type:none;
    margin:0;
    padding: 0;
    overflow: hidden;
}




