/*                      ========================== ALL PAGES ==========================           
=========================================================================================================================*/
body {
    
    font-family: 'Raleway';
    height: 1640px;
    background-color: #444;

   
} 
.above-parallax {
    height: 80px;
}

.parallax {
    min-height: 540px;
    width: 100vw;
    background: transparent;
}

.parallax-2 {

    min-height: 600px;
    width: 100vw;
    background: transparent;
}
.parallax-3 {

    min-height: 650px;
    width: 100vw;
    background: transparent;
}


/* HEADER AND NAV
================================================================ */
.header {
    background: rgba(85, 214, 170);
    width: 100vw;
    top: -15px; 
    color: white;
    text-transform: uppercase;
    position: fixed;
    z-index: 1;

}

nav li {
    color: white;
    position: relative;
}
 
nav a {
    text-decoration: none;
	color: white;
	text-transform: uppercase, bold;
}

nav a:hover {
    color: white;
    text-decoration: none;
}

nav a::before {
content: '';
 display: block;
 height: 4px;
 background-color: white;
 position: absolute;
 width: 0%;
 top: 20px;

 transition: all ease-in-out 300ms;

}

nav a:hover::before {
	width: 100%;

}

 
/*                      ==========================INDEX PAGE==========================           
=========================================================================================================================*/

/* INFO BOX 
===================================================*/
.box {
    background: rgb(240, 213, 124); 	
	width: 100vw; 
	color:white;
    
}

.info {
    padding:20px;
    margin-left: 40px;
}


.click a {
    outline: solid white;
    color: white;
    padding: 10px;
    size: 10px;
   text-decoration: none;
   margin-left: 130px;
}

.box p {
    color: white;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
    margin-bottom: 60px;
}



.box-2 {
    background: rgb(200, 219, 215); 	
	width: 100vw; 
	color:white;
    /* margin-bottom: 15%; */
    /* margin-top: 400px; */
}

.info-2 h3 {
    margin-left: 120px;
}

.input-2 p {
    margin-left: 400px;
}


.info-2 {
    padding:20px;
    margin-left: 500px;
}


.box-3 {
    background: rgb(200, 219, 215); 	
	width: 100vw; 
	color:white;
    /* margin-bottom: 15%; */
    /* margin-top: 400px; */
}

.info-3 h3 {
    margin-left: 120px;
}

.input-3 p {
    margin-left: 400px;
}


.info-3 {
    padding:20px;
    margin-left: 500px;
}

.click a {
    outline: solid white;
    color: white;
    padding: 10px;
    size: 10px;
   text-decoration: none;
   margin-left: 400px;
}

.box p {
    color: white;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
    margin-bottom: 60px;
}





/* FOOTER */



.foot {
    height: 100px;
	margin-top: ; 
    background-color: #f1f1f1;
    font-size: 12px;
	/* display: block;
	overflow: hidden; */
    padding: 10px;
    /* position: fixed; */
    width: 100vw;
    z-index: 1;
    
    
    

	}

.copyright {
	float:left;
	color: #444;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 20px;
}



/*                      ========================== GET STARTED ==========================           
=========================================================================================================================*/


/* CHARACTERISTIC BOX */


.input-box {
    background: rgb(240, 213, 124); 
    /* width: 1370px; */
    width: 100vw; 
	padding: 60px;
	margin-top: 200px;
    
	color:white;
    /* margin-bottom: 15%; */
    

}



.characteristic-box {
    background: rgb(240, 213, 124); 
    /* width: 1370px; */
    width: 100vw; 
    padding-left: 60px;
    padding-bottom: 60px;
	margin-top: 0;
    dislay: none;
	color:white;
    margin-bottom: 15%;
}

.characteristic-box ul {
    padding: 0;
    column-count: 4; 
}



input, button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: hand;
    overflow: hidden;    
    outline: solid white;
    color: white;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    margin-left: 130px;   
}


li {
    list-style: none;
    display: block;
    padding: 2px;
    margin: none;
    text-transform: capitalize;
   
}


li label {
    padding: 10px;
    margin: none;
} 



