{% extends "parent.html" %}
{% block content %}
<main>
        <div class="dog-image-index">
                <div class="box">
                        <div class="info">
                                <div>
                                        <br>
                                        <h3>
                                                Puppy Finder connects you to your perfect puppy!
                                                
                                        </h3>
                                        <p>
                                                <br>
                                                <br>
                                                Our survey matches users to dogs currently available for adoption at the __ in Austin, Texas. 
                                                Get started now and find your new best friend.

                                        </p>
                                </div>
                                <div class="row">
                                        <div class="text-center">
                                                        <h3 class="click">
                                                        <a href="{{ url_for('input') }}">Get Started!</a>
                                                
                                                        </h3>
                                        </div>
                                        
                                </div>

                        </div>
                
                </div>  
        </div>
</main>
        <!-- <footer>
                
                <div class="row text-center">
                        
                        <div >
                                <h3 class="copyright">
                                        Copyright &copy; 2020
                                </h3>
                        </div>
                        
                 </div>
    
        </footer> -->

{% endblock %}