{% extends "parent.html" %}
{% block content %}


        <div class="row">
           <br>
           <br>
           <br>
            <p class="text-center">
                Puppy Finder connects you to your perfect puppy finder. All candidates have been rescued by the _____ in Austin, Texas. 
                Puppy Finder rates compatibility based on the information you give us and the profile of the dogs, such as their temperament, age, and size.
                Fill out the survey, and let Puppy Finder find your new best friend. 

           </p>

        </div>
{% endblock %}
