{% extends "parent.html" %}
{% block content %}
<main>
        <div class="above-parallax"></div>
        <div class="parallax" data-parallax="scroll" data-z-index="1" data-image-src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/month-pure-breed-beagle-puppy-on-gray-screen-royalty-free-image-865226542-1566913909.jpg"></div>
        <div class="dog-image-index">
                <div class="box">
                        <div class="info">
                                <div>
                                        <br>
                                        <h3>
                                                Puppy Finder connects you to your perfect puppy!
                                                
                                        </h3>
                                        <p>
                                                <br>
                                                Our survey matches users to dogs currently available for adoption in Austin, Texas. 
                                                Get started now and find your new best friend.

                                        </p>
                                </div>
                                <div class="row">
                                        <div class="text-center">
                                                        <h3 class="click">
                                                        <a href="{{ url_for('input') }}">Get Started!</a>
                                                
                                                        </h3>
                                        </div>
                                        
                                </div>

                        </div>
                
                </div>  
        </div>
        <div class="parallax-2" data-parallax="scroll" data-z-index="1" data-image-src="static/img/pit.png"></div>
        <div class="box-2">
                <div class="info-2">
                        <div>
                                <br>
                                <h3>
                                        Support the Austin Animal Shelter!
                                        
                                </h3>
                                <p>
                                        <br>
                                        The Austin Animal Shelter is accepting donations! Follow the link below to contribute.
                                        <br>
                                        <br>
                                </p>
                        </div>
                        <div class="row">
                                <div class="text-center">
                                                <h3 class="click">
                                                <a href="https://www.austinpetsalive.org/donate/donate-now/?gclid=Cj0KCQiA5bz-BRD-ARIsABjT4njWj7EyG_jhYMBx4o0XKI808LeDdzbc2FolwV3XmDsSOD7uIkOqC0IaAkG9EALw_wcB">Support Now</a>
                                        
                                                </h3>
                                </div>
                                <br>
                                
                        </div>

                </div>
        
        </div>  
        <div class="parallax-3" data-parallax="scroll" data-z-index="1" data-image-src="static/img/lildog.png"></div>
        
        <div class="foot">
                <div class="text-center">
                        
                        <div >
                                <h3 class="copyright">
                                        Copyright &copy; 2020
                                </h3>
                        </div>
                        
                </div>
        </div>
</main>

  

{% endblock %}