{% extends "parent.html" %}
{% block content %}
<div class="parallax">
 
        <div class="input-box">
                 <h3>Select the desired weight of your dog</h3>
                        <select name="size" id="size" >
                                <option value="sm">Small (example)</option>
                                <option value="md">Medium (example)</option>
                                <option value="lg">Large (example)</option>
                        </select>
                <br>
                <br>     
                        <div class="row">
                                <div class="text-center execute">
                                        <!-- <div>
                                                <div class="text-center execute">
                                                        <h3 class="click" id="button" onclick="loadChar()">
                                                        <a href="{{ url_for('input') }}"></a>Submit</a>
                                                
                                                        </h3>
                                                </div>  
                                        </div> -->
                                                
                                        <button class="clickMe" id="clickMe" onclick="loadChar()">Submit</button>
                                        <!-- <button id="clickMe" onclick="loadChar()">Submit</button> -->
                                        
                                </div>
                                
                        </div>
                
        </div>
        <div class="characteristic-box" id="characteristic-box" style="display: none;">
                <h3>Select 5 Characterstics</h3>
                                <div class="characterstic-list" id="characterstic-list">
                                        <ul class="characteristics">    
                                               
                                         </ul>
                                 </div>
                
                                                
               <br>
               <br>
               <div class="row">
                <div class="text-center execute">
                                <h3 class="click" id="button">
                                <a href="{{ url_for('input') }}">Submit</a>
                        
                                </h3>
                </div>
                
        </div>


        </div>

        <!-- <footer>
                
                <div class="row text-center">
                        
                        <div >
                                <h3 class="copyright">
                                        Copyright &copy; 2020
                                </h3>
                        </div>
                        
                 </div>
    
        </footer> -->


{% endblock %}