{% extends "parent.html" %}
{% block content %}

        <div class="container">
                <div class="row">
                        <br>
                        <br>
                        <br>
                        <p class="text-center">
                                This is the user input page
                        </p>

                </div>
        </div>


                <footer>
                        <div class="footer-container">

                                <h3 class="copyright">
                                        Copyright &copy; 2020
                </h3>
                
                </div>
          
    </footer>


{% endblock %}