{% extends "parent.html" %}
{% block content %}
<div class="parallax">
 
        <div class="input-box">
                 <h3>Select the desired weight of your dog</h3>
                        <select name="size" id="size" >
                                <option value="small">Small (Under 20 pounds)</option>
                                <option value="medium">Medium (20 - 60 pounds)</option>
                                <option value="large">Large (60+ pounds)</option>
                        </select>
                <br>
                <br>     
                        <div class="row">
                                <div class="text-center execute">
                                        <!-- <div>
                                                <div class="text-center execute">
                                                        <h3 class="click" id="button" onclick="loadChar()">
                                                        <a href="{{ url_for('input') }}"></a>Submit</a>
                                                
                                                        </h3>
                                                </div>  
                                        </div> -->
                                                
                                        <button class="clickMe" id="clickMe" onclick="loadChar()">Submit</button>
                                        <!-- <button id="clickMe" onclick="loadChar()">Submit</button> -->
                                        
                                </div>
                                
                        </div>
                
        </div>
<!-- CHARACTERSTIC BOX, LOADED BY WEIGHT -->
        <div class="characteristic-box" id="characteristic-box" style="display: none;">
                <h3>Select 5 Characterstics</h3>
                                <div class="characterstic-list" id="characterstic-list">
                                        <ul class="characteristics" id="characteristics">    
                                               
                                        </ul>
                                 </div>
                
                                                
               <br>
               <br>

               <div class="row">
                        <div class="text-center execute">
                                        <!-- <h3 class="click" id="button">
                                        <a href="{{ url_for('input') }}">Submit</a>  
                                        </h3> -->
                                        <button class="clickMe" id="clickMe2" onclick="loadBreeds()">Submit</button>
                        </div>
                
                </div>


        </div>
<!-- BREED BOX, LOADED BY CHARACTERISTCS -->
        <div class="breed-results" id="breed-results" style="display: none;">
                <h3>Based on your selection, here are your most compatible dog breeds</h3>
                <ul class="breedList">
                </ul>

                <div id="search-dogs-form">
                        <h3>Enter the desired breed of your dog</h3>
                        <ul id="breed-choice">
                                <li>
                                        <input type="text" id="breed-text" placeholder="German Shepherd">
                                                <label for="breed-text">Don't forget: many breed names in Austin Intakes are shortened -- for example, if you are looking for a Boston Terrier, try the search term Terrier</label>
                                        </input>
                                </li>
                        </ul>
                        <br>
                        <h4>Select the desired sex of your dog</h3>
                        <ul id="sexes">
                                <li>
                                        <input type="checkbox" id="female" name="female" value="female" class="checkmark">
                                                <label for="female">Female</label>
                                        </input>
                                </li>
                                <li>
                                        <input type="checkbox" id="male" name="male" value="male" class="checkmark">
                                                <label for="male">Male</label>
                                        </input>
                                </li>
                        </ul>
                        <br>
                        <h4>Select the desired color of your dog</h4>
                        <select name="colors" id="colors" >
                                <option value="" class="blank" font-color="black">No Preference</option>
                                <option value="black" class="black" font-color="white">Black</option>
                                <option value="brown" class="brown" font-color="white">Brown</option>
                                <option value="chocolate" class="chocolate" font-color="white">Chocolate</option>
                                <option value="white" class="white" font-color="black">White</option>
                                <option value="tricolor" class="tricolor" font-color="black">Tricolor</option>
                                <option value="tan" class="tan" font-color="black">Tan</option>
                                <option value="yellow" class="yellow" font-color="black">Yellow</option>
                                <option value="buff" class="buff" font-color="black">Buff</option>
                                <option value="cream" class="cream" font-color="black">Cream</option>
                                <option value="gray" class="gray" font-color="black">Gray</option>
                                <option value="blue" class="blue" font-color="white">Blue</option>
                                <option value="red" class="red" font-color="white">Red</option>
                                <option value="sable" class="sable" font-color="white">Sable</option>
                                <option value="gold" class="gold" font-color="black">Gold</option>
                                <option value="silver" class="silver" font-color="black">Silver</option>
                                <option value="apricot" class="apricot" font-color="black">Apricot</option>
                                <option value="brindle" class="brindle" font-color="white">*Brindle</option>
                                <option value="tick" class="tick" font-color="white">*Tick</option>
                                <option value="merle" class="merle" font-color="white">*Merle</option>
                                <option value="tiger" class="tiger" font-color="black">*Tiger</option>
                                <option value="fawn" class="fawn" font-color="black">Fawn</option>
                                <option value="liver" class="liver" font-color="white">Liver</option>
                                <option value="piebald" class="piebald" font-color="black">Piebald</option>

                        </select>
                        <br>
                        <h4>Enter the desired age of your dog</h4>
                        <h5>(Enter the youngest dog you want in years &amp months and the oldest dog you want in years &amp months)</h5>
                        <ul id="dog-age">
                                <li>
                                        <input type="text" id="youngest-years" placeholder="0">
                                                <label for="youngest-years">Youngest in years</label>
                                        </input>
                                </li>
                                <li>
                                        <input type="text" id="youngest-months" placeholder="1">
                                                <label for="youngest-months">Youngest in months</label>
                                        </input>
                                </li>
                                <li>
                                        <input type="text" id="oldest-years" placeholder="20">
                                                <label for="oldest-years">Oldest in years</label>
                                        </input>
                                </li>
                                <li>
                                        <input type="text" id="oldest-months" placeholder="12">
                                                <label for="oldest-months">Oldest in months</label>
                                        </input>
                                </li>
                        </ul>
                        <br>
                        <h4>Are you looking for a sick or injured dog to foster?</h3>
                        <ul id="foster-injured">
                                <li>
                                        <input type="checkbox" id="injured" name="injured" value="injured" class="checkmark">
                                                <label for="injured">Check yes to search sick or injured dogs</label>
                                        </input>
                                </li>
                        </ul>
                </div>
                <button class="clickMe" id="clickMe3" onclick="loadDogs()">Submit</button>
        </div>

<!-- DOG BOX, LOADED BY SEARCH -->


        <div class="dog-results" id="dog-results" style="display: none;">
                <div class="dog-results-table" id="dog-results-table">
                        <h3>
                                List of dog matches here!
                        </h3>
                </div>
                <br>
                <!-- <button class="clickMe4" id="clickMe4" onclick="startOver()">Start Over</button> -->
                <button class="clickMe"><a href="{{ url_for('input') }}">Start Over</a> </button> 

        </div>




        <!-- <footer>
                
                <div class="row text-center">
                        
                        <div >
                                <h3 class="copyright">
                                        Copyright &copy; 2020
                                </h3>
                        </div>
                        
                 </div>
    
        </footer> -->


{% endblock %}